.site-footer {
    visibility: hidden;
  }
 
code.language-mermaid { 
    display: flex !important;
    justify-content: center; 
  }

.table-wrapper {
	box-shadow: none !important;
  }

.btn-blue {
    background-color: #4258b9;
    background-image: linear-gradient(#4283d7, #4258b9);
  }
