@media  (min-width: 50rem) {
.site-footer {
    visibility: hidden;
  }
}

.site-footer {
    visibility: hidden;
  }

.language-mermaid { 
    display: flex !important;
    justify-content: center; 
  }
