@media  (min-width: 50rem) {
.site-footer {
    visibility: hidden;
  }
  
a {
    color: #4258b9;
  }

.icon {
    color: #4258b9;
  }
}

a {
    color: #4258b9;
  }

.site-footer {
    visibility: hidden;
  }
