<p align="left">
<a name="communication-channels"></a>
<a href="mailto:m.poneder@decentra.vision"><img src="./img/social/email.png" alt="Mario Poneder | DecentraVision" width="32px"/></a>&nbsp;
<a href="https://linkedin.com/in/mario-poneder"><img src="./img/social/linked-in.png" alt="Mario Poneder | LinkedIn" width="32px"/></a>&nbsp;
<a href="https://twitter.com/MarioPoneder"><picture><source srcset="./img/social/x_dark.png" media="(prefers-color-scheme: dark)"/><img src="./img/social/x_dark.png" alt="Mario Poneder | X" width="31.31px"/></picture></a>&nbsp;
<a href="https://discordapp.com/users/916806993048637521"><img src="./img/social/discord.png" alt="0xTheC0der | Discord" width="42.15px"/></a>&nbsp;
<a href="https://code4rena.com/@0xTheC0der"><img src="./img/social/code4rena.png" alt="0xTheC0der | Code4rena" width="32.58px"/></a>&nbsp;
<a href="https://cantina.xyz/u/0xTheC0der"><picture><source srcset="./img/social/cantina_dark.png" media="(prefers-color-scheme: dark)"/><img src="./img/social/cantina_dark.png" alt="0xTheC0der | Cantina" width="32px"/></picture></a>&nbsp;
<a href="https://github.com/MarioPoneder"><picture><source srcset="./img/social/github_dark.png" media="(prefers-color-scheme: dark)"/><img src="./img/social/github_dark.png" alt="Mario Poneder | GitHub" width="32px"/></picture></a>
</p>
<p class="text-small text-grey-dk-100 mb-0" align="left">
[Legal info](/legal-info.html)
<span style="float:right;">&copy; 2024 Decentra Vision e.U. &ndash; All rights reserved</span>
</p>
